@charset "utf-8";
/* BLUEPRINT STUDIOS: JOHN DAVIDSON  lAST EDITED: 11/20/2011  */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #000066;
	background-image: url(../images/blue_chip.png);
	background-repeat: repeat;
	background-position: left top;
}
#body_centered {
	width:1029px;
	margin: 0 auto;
	text-align: left;
	height:850px;
}
#header {
	position:relative;
	top:0px;
	left:0px;
	z-index:100;
}
a.UtilityNav:link, a.UtilityNav:visited	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
#UtilityNav {
	position:absolute;
	top:15px;
	left:400px;
	height: 134px;
	width: 578px;	
}
.UtilityBack {
	background-image: url(../images/utility_nav_blue_comment.png);
	background-repeat: no-repeat;
	height: 134px;
	width: 578px;

}
.UtilityBackOff {
	background-image: url(../images/utility_nav_blue.png);
	background-repeat: no-repeat;	
	height: 134px;
	width: 578px;	
}
.WhiteBackgroundButton {
	position:relative;
	top:0px;
	left:130px;
	background-color: #FFFFFF;
	height: 15px;
	width:100px;
	color:#000066;
	padding:5px;
	border: 1px solid #FFFFFF;
	text-decoration: none;
	z-index:20;
}
.BlueBackgroundButton {
	position:relative;
	top:-27px;
	left:243px;
	background-color: #000066;
	height: 15px;
	width:100px;
	color:#FFFFFF;
	padding:5px;
	border: 1px solid #FFFFFF;
	text-decoration: none;
	z-index:20;
}
.FinalBackgroundButton {
	position:relative;
	top:-54px;
	left:356px;
	background-color: #000066;
	height: 15px;
	width:75px;
	color:#FFFFFF;
	padding:5px;
	border: 1px solid #FFFFFF;
	text-decoration: none;
	z-index:20;
}
#body_wrapper {
	position:relative;
	top:51px;
	left:32px;
	border: 1px dashed #FFFFFF;
	width:948px;
	height:660px;
	margin:0px;
}
#page_body_wrapper {
	position:relative;
	top:51px;
	left:32px;
	border: 1px dashed #FFFFFF;
	width:948px;
	height:660px;
	margin:0px;
	background-color: #FFFFFF;
	z-index:1;
}
.blueprint_logo {
	position:relative;
	top:30px;
	left:18px;
	background-image: url(../images/blueprint_logo_blue.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 99px;
	width: 318px;
}
.ContentArea {
	position:relative;
	top:60px;
	left:20px;
	width:908px;
	height:600px;
	color:#000066;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	padding-right:20px;
	overflow: hidden;
	overflow-y: scroll;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #000066;
	text-decoration: none;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000066;
	text-decoration: none;
}
.HistoryYear {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100px;
}

/* HOMEPAGE MAIN MESSAGE & BOTTOM CALLOUTS */

#MainMessage {
	position:relative;
	top:60px;
	left:10px;
	background-image: url(../images/main_mess_blue.png);
	background-repeat: no-repeat;
	height: 245px;
	width: 928px;	
	padding:0px 0px 0px 0px;
	margin:8px 0px 0px 0px;
}
#callout_container {
	position:relative;
	height:300px;
	top:70px;
	left:50px;
	margin:0px;
	padding:0px;
	width: 870px;
}
#CorpIdentity {
	position:absolute;
	top:25px;
	left:-30px;
	height: 260px;
	width: 300px;
	padding:0px;
	margin:0px;
	background-image: url(../images/corp_identity_blue.png);
	background-repeat: no-repeat;
}
#WebDesign {
	position:absolute;
	top:25px;
	left:280px;
	height: 260px;
	width: 297px;
	padding:0px;
	margin:0px;
	background-image: url(../images/web_design_blue.png);
	background-repeat: no-repeat;
}
#Stationary {
	position:absolute;
	top:25px;
	left:590px;
	height: 260px;
	width: 292px;
	padding:0px;
	margin:0px;
	background-image: url(../images/stationary_blue.png);
	background-repeat: no-repeat;
}

#Stationary:hover {
	height: 260px;
	width: 292px;
	padding:0px;
	margin:0px;
	background-image: url(../images/stationary_blue_on.png);
	background-repeat: no-repeat;
	cursor:pointer;
}

/* ALL HOMEPAGE MEASUREMENTS & NOTES */
#Measure583 {
	position:absolute;
	top:72px;
	left:-30px;
	background-image: url(../images/measurements/583pixels_blue.png);
	background-repeat: no-repeat;
	height: 587px;
	width: 19px;
	overflow: hidden;
}
#Measure220 {
	position:absolute;
	top:67px;
	left:-30px;
	background-image: url(../images/measurements/220pixels_blue.png);
	background-repeat: no-repeat;
	height: 245px;
	width: 19px;
}
#Measure232 {
	position:absolute;
	top:350px;
	left:-30px;
	background-image: url(../images/measurements/232pixels_blue.png);
	background-repeat: no-repeat;
	height: 260px;
	width: 19px;
}
#Measure275a {
	position:absolute;
	top:620px;
	left:19px;
	background-image: url(../images/measurements/275pixels_blue.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 300px;
}
#Measure275b {
	position:absolute;
	top:620px;
	left:329px;
	background-image: url(../images/measurements/275pixels_blue.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 300px;
}
#Measure275c {
	position:absolute;
	top:620px;
	left:639px;
	background-image: url(../images/measurements/275pixels_blue.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 300px;
}
#Measure911 {
	position:relative;
	left:9px;
	top:-470px;
	background-image: url(../images/measurements/911pixels_blue.png);
	background-repeat: no-repeat;
	height: 30px;
	z-index:30;
}
#Measure911Bottom {
	position:relative;
	left:5px;
	top:-160px;
	background-image: url(../images/measurements/911pixels_blue.png);
	background-repeat: no-repeat;
	height: 30px;
	z-index:30;
}
#Measure911Page {
	position:relative;
	left:5px;
	top:-162px;
	background-image: url(../images/measurements/911pixels_blue.png);
	background-repeat: no-repeat;
	height: 30px;
	z-index:30;
}
#Measure911Home {
	position:relative;
	left:5px;
	top:-145px;
	background-image: url(../images/measurements/911pixels_blue.png);
	background-repeat: no-repeat;
	height: 30px;
	z-index:30;
}
#ScreenRes {
	position:relative;
	top:0px;
	height: 19px;
	width:100%;
	background-position: center;
	z-index:35;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
#ResText {
	position:relative;
	background-image: url(../images/measurements/text_res_blue.png);
	background-repeat: no-repeat;
	height: 19px;
	width: 162px;
	z-index:50;
}
#LeftArrow {
	position:relative;
	top:0px;
	background-image: url(../images/measurements/blue_lft_res_arrow.png);
	background-repeat: no-repeat;
	background-position: right top;
	float:left;
	height: 19px;
	width: 20px;
	z-index:30;
}
#RightArrow {
	position:relative;
	top:-20px;
	background-image: url(../images/measurements/blue_rgt_res_arrow.png);
	background-repeat: no-repeat;
	background-position: right top;
	float:right;
	height: 19px;
	width: 20px;
	z-index:30;
}
#MiddleLine {
	position:relative;
	top:0px;
	background-image: url(../images/measurements/blue_middle_res.png);
	background-repeat: repeat-x;
	background-position: left top;
	height: 19px;
	width: 98%;
}
#SubNavNote {
	position:relative;
	left:950px;
	top:-508px;
	background-image: url(../images/notes/subnav_blue.png);
	background-repeat: no-repeat;
	height: 230px;
	width:40px;
}
#SubNavNotePages {
	position:relative;
	left:950px;
	top:-555px;
	background-image: url(../images/notes/subnav_blue.png);
	background-repeat: no-repeat;
	height: 230px;
	width:40px;
}
#ScaleNote {
	position:absolute;
	left:950px;
	top:400px;
	background-image: url(../images/notes/scaleto_blue.png);
	background-repeat: no-repeat;
	height: 206px;
	width: 32px;	
}
/* END HOMEPAGE NOTES AND MEASUREMENT ELEMENTS */

/* START MAIN NAVIGATION ELEMENTS */
#mainnav_wrapper {
	position:absolute;
	display:block;
	top:150px;
	left:32px;
	width:790px;
	height:36px;
	z-index:100;
}
.MainNav0 {
	position:absolute;
	top:0px;
	left:0px;
	width:158px;
	height:26px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
	cursor:pointer;
}
.MainNav0:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.MainNav0On {
	position:absolute;
	top:0px;
	left:0px;
	width:158px;
	height:26px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
}
.MainNav1 {
	position:absolute;
	top:0px;
	left:158px;
	width:158px;
	height:26px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
	cursor:pointer;
}
.MainNav1:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.MainNav1On {
	position:absolute;
	top:0px;
	left:158px;
	width:158px;
	height:26px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
}
.MainNav2 {
	position:absolute;
	top:0px;
	left:316px;
	width:158px;
	height:26px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
	cursor:pointer;
}
.MainNav2:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.MainNav2On {
	position:absolute;
	top:0px;
	left:316px;
	width:158px;
	height:26px;
	background-color: #FFFFFF;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
}
.MainNav3 {
	position:absolute;
	top:0px;
	left:474px;
	width:158px;
	height:26px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
	cursor:pointer;
}
.MainNav3:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.MainNav3On {
	position:absolute;
	top:0px;
	left:474px;
	width:158px;
	height:26px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
}
.MainNav4 {
	position:absolute;
	top:0px;
	left:632px;
	width:158px;
	height:26px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
	cursor:pointer;
}
.MainNav4:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.MainNav4On {
	position:absolute;
	top:0px;
	left:632px;
	width:158px;
	height:26px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
}
.MainNav5 {
	position:absolute;
	top:0px;
	left:790px;
	width:158px;
	height:26px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
	cursor:pointer;
}
.MainNav5:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.MainNav5On {
	position:absolute;
	top:0px;
	left:790px;
	width:158px;
	height:26px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
}
/* END MAIN NAVIGATION ELEMENTS */

/* SUB NAVIGATION ELEMENTS */

/* THESE ARE THE CONTAINERS THAT POSITION THE SUB NAV ELEMENTS */
#AboutUs {
	display:none;
	position:relative;
	top:37px;
	left:140px;
	width:200px;
	height:24px;
}
#Services {
	display:none;
	position:relative;
	top:37px;
	left:240px;
	width:300px;
	height:24px;
}
#Process {
	display:none;
	position:relative;
	top:37px;
	left:310px;
	width:489px;
	height:24px;
}
#Portfolio {
	display:none;
	position:relative;
	top:37px;
	left:515px;
	width:400px;
	height:24px;
}
/* END SUB NAV POSITIONING ELEMENTS */

/* SUB NAVIGATION BUTTONS */
/* SUB NAVIGATION BUTTONS */
.SubNav1 {
	position:absolute;
	top:0px;
	left:0px;
	width:97px;
	height:19px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
	cursor:pointer;
}
.SubNav1:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.SubNav1On {
	position:absolute;
	top:0px;
	left:0px;
	width:97px;
	height:19px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
}
.SubNav2 {
	position:absolute;
	top:0px;
	left:98px;
	width:97px;
	height:19px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
	cursor:pointer;
}
.SubNav2:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.SubNav2On {
	position:absolute;
	top:0px;
	left:98px;
	width:97px;
	height:19px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
}
.SubNav3 {
	position:absolute;
	top:0px;
	left:195px;
	width:97px;
	height:19px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
	cursor:pointer;
}
.SubNav3:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.SubNav3On {
	position:absolute;
	top:0px;
	left:195px;
	width:97px;
	height:19px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
}
.SubNav4 {
	position:absolute;
	top:0px;
	left:292px;
	width:97px;
	height:19px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
	cursor:pointer;
}
.SubNav4:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.SubNav4On {
	position:absolute;
	top:0px;
	left:292px;
	width:97px;
	height:19px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
}
.SubNav5 {
	position:absolute;
	top:0px;
	left:389px;
	width:97px;
	height:19px;
	background-color: #000066;
	border: 1px dashed #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
	cursor:pointer;
}
.SubNav5:hover {
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	color: #000066;
}
.SubNav5On {
	position:absolute;
	top:0px;
	left:389px;
	width:97px;
	height:19px;
	background-color: #FFFFFF;
	border: 1px dashed #000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top:5px;
}
/* END SUB BUTTONS */

#footer {
	position:relative;
	left:200px;
	top:140px;
	height:35px;
	width:600px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
#footer a {
	color: #FFFFFF;
	text-decoration: underline;
}
#FooterLink {
	display:none;
}

a:link, a:visited, a:hover {
	text-decoration: none;
	color:#000066;
}
.Copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000066;
	text-decoration: none;
}
